* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav, footer {
	background-color: gray;
	width: 100%;
}

nav {
	height: 60px;
}

footer {
	height: 100px;
}

body {
	font-family: sans-serif;
	width: 100%;
	background-color: lightblue;
}

.page-container {
	width: 80%;
	margin: 0px auto;
	padding: 50px 100px;
	background-color: white;
	position: relative;
}

.product-listing {
	padding-top: 15px;
}

.product-listing .product-listing-item {
	margin: 10px auto;
	padding: 10px 0;
}

ul.top-menu {
	position: absolute;
	right: 12%;
	top: 18px;
	margin: 0;
}

ul.top-menu li {
	display: inline-block;
}

ul.top-menu li:before {
	content: '|';
	margin: 0 10px;
}

ul.top-menu li:nth-child(1):before {
	content: '';
	margin: 0;
}

ul.top-menu a {
	color: black !important;
}

table.checkout-table {
	width: 800px;
	text-align: left;
}

.checkout-table.head.name {
	width: 360px;
}

.checkout-table.head.quantity {
	width: 90px;
}

.checkout-table.head.price {
	width: 110px;
}

.checkout-table.head.add {
	width: 50px;
}

.checkout-table.head.remove {
	width: 50px;
}

.checkout-table.head.remove-all {
	width: 150px;
}

.checkout-modal.head.name {
	width: 380px;
}

.checkout-modal.head.quantity {
	width: 120px;
}

.checkout-modal.head.price {
	width: 120px;
}

button.btn.lg {
	width: 115px;
}

.bold {
	font-weight: bold;
}

.product-details.top-row-block {
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px;
}

.product-details.description, .product-details.btn {
	padding: 10px 20px;
}

.product-details.title {
	padding: 0 20px;
}

.search-form-input {
	width: 250px;
}

table.checkout-modal {
	padding-bottom: 30px;
}

.checkout-table.item.bold {
	padding-top: 10px;
	padding-bottom: 30px;
}