* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav, footer {
	background-color: gray;
	width: 100%;
}

nav {
	height: 60px;
}

footer {
	height: 100px;
}

body {
	font-family: sans-serif;
	width: 100%;
	background-color: lightblue;
}

.page-container {
	width: 80%;
	margin: 0px auto;
	padding: 50px 100px;
	background-color: white;
	position: relative;
}

.product-listing {
	padding-top: 30px;
}

.product-listing .product-listing-item {
	margin: 10px auto;
	padding: 10px 0;
}

ul.top-menu {
	position: absolute;
	right: 12%;
	top: 18px;
	margin: 0;
}

ul.top-menu li {
	display: inline-block;
}

ul.top-menu li:before {
	content: '|';
	margin: 0 10px;
}

ul.top-menu li:nth-child(1):before {
	content: '';
	margin: 0;
}